ul img{
    height: 250px;
    width:250px;
    display: block;
    /* margin-left: 550px; */
    padding: 15px;
}

  
  
    h3{
        font-size: 40px;
        margin: 32px auto;
        justify-content: center;
        display: flex;
    }

    main{
        margin-top: 10px;
    }

    main p{
        color: rgb(9, 6, 79);
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        line-height: 1.6;
        margin-left: 10px;
        font-weight: 700;
    }

    main h4{
        color: rgb(9, 6, 79);
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        letter-spacing: 2px;
        margin-left: 5px;
    }
    #line{
    display: flex; 
    font-family: 'Playfair Display', serif;
    padding-top: 5%;
    font-size: xx-large;
    justify-content: center;
    }
   

    #lineContainer{
        width: 1200px;
        margin: 0px auto;
        text-align: center;
        border: white solid 9px;
        padding-bottom: inherit;

    }
    
    ul li{
        font-size: 15px;
        color:rgb(9, 6, 79);
        /* text-align: center; */
        font-family:"Orbitron", sans-serif; 
        display: block;
        line-height: 1.6;
        margin-left: 9%;
    }
    
    ul{
    width: 25%;
    display: inline;
    }

    #teamContainer{
        width: 100%;
    }

    .collection{
        display: inline-block;
        margin: 3% 3% 3%;
    }