:root {
   
    --color: #1e90ff;
    --background:  url('../img/home-page-size.png');
  }

.trCategory {
display: block;



}
.tableCategory{


display: block;


}

main {

    background-image: none;
}
#sectionTable{

    background-image:var(--background); 
        background-size: cover;
        height: 540px;

}

.trCategory td{
    float: left;
    margin: 3% 3% 0 3%;
    font-size: x-large;
    background-color: whitesmoke;
    padding: 2%;
    border: #dfdfdf solid 1px;
    box-shadow: 5px 5px #e7e1d9;
    border-radius: 31%;
    cursor: pointer;

}
.trCategory td:hover{

    background-color: #e72e69  ;
    transition: ease-in 0.3s;

}

#mainSection{
min-height: 500px;

}
