*{
    border: blue 2px hidden;
    outline: none;
    

}

body{
    max-width: 960px;
    margin: 0 auto;
    border: solid 2px black;
    text-align: center;
} 
input{
    margin: 5px;
}
input:invalid{
    
}
.newQuestion > :first-child{
    width: 250px;
}  
.newQuestion{
    margin-top: 30px;
    background-color: blanchedalmond;
    box-sizing: border-box;
    position: relative;

}
form > :first-child{
width: 100px;
height: 40px;
position: sticky;
position: -webkit-sticky;
top: 20px;

}
form{
    margin-top: 50px;
}

button{
    margin: 20px 0;
    cursor: pointer;
} 
select{
    margin: 10px 0;
}
#choiceBtnsContainer{
    display: inline-block;
    position: absolute;
    right: 30%;
    bottom: 2%;
}
#choiceBtnsContainer button{
    border-radius: 50% ;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    background-color: coral;
    opacity: 0.3;
}

#choiceBtnsContainer button:hover{
    opacity: 1;
}
#choiceBtnsContainer button:focus{
    outline: none;
}
ul,li{
    display:block;
}
.partiallyHide {
opacity: 0.2;
}
.drag-over {
    border: dashed 3px coral;
}
#dragBtn{
    position: absolute;
    left: 1%;
    top: 0%;
}


