:root {
    --color: #1e90ff;
    --background: #0f0f0f;
  }

  p{
      color: var(--color);
      background-color: var(--background);
      display: inline-block;
  }

  #test{
      color: var(--color);
  }

  #change-background{
      background-color: var(--background);
  }

  td:hover{
      cursor: pointer;
  }
 
  