* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #474e5d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

#error{
  color: #f44336;
}

#show{
  display: none;
    margin: 29%;
    text-align: center;
    font-size: x-large;
}
#redirectToHome{
background-color: #f5aa47;
margin-top: 11%;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  /* display: none; Hidden by default */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: #c1c1c140;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 46%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

section p {
    margin-top: 28px;

    font-size: 28px;

    height: auto;
    width: auto;
    text-align: left;
    margin-left: 0;
    margin-top: 0;
    color: black;
    font-size: 20px;
}

form .container{
    margin: 0 auto;
    width: 93%;
}

#signIn{
  display: none;
}

.container p a{
color:rgb(19, 54, 90);
}


.vl {
  height: 500px;
  margin: 0 25%;
}

.h1Sign,.h1Sign2,.h1Sign1{
  display: inline;
}

.h1Sign2:hover ,.h1Sign1:hover{
  text-decoration: underline;
color: rgb(54, 54, 216);
}

#pSign{
  font-size: inherit;
  display: inline;
}
